body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#app-bar {
	text-align: left;
}

#flat-menu-container {
	margin: 7px 0;
}

.divider {
	width: 90%;
	margin: auto;
}

.dash-btn {
	margin: 12px;
}

#book-gallery {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	max-width: 1000px;
	margin: auto;
}

.result {
 	width: 180px;
 	margin: 10px;
 	border: 1px #eee solid;
 	text-align: left;
 	padding: 20px;
}

.result h3 {
	margin-top: 0px;
}

.result img {
	margin: 10px 26px;
	box-shadow: 0 0 10px #555;
}

.result:hover .add-book-btn {
	opacity: 100;
	display: block;
}

.image-placeholder {
	height: 198px;
	width: 128px;
	box-shadow: 0 0 10px #555;
	background-color: #eee;
	text-align: center;
	margin: 10px 26px;
}

.image-placeholder p {
	line-height: 198px;
	font-size: 10px;
}

.add-book-btn {
	display: none;
	opacity: 0;
	transition: opacity .35s ease;
	position: absolute;
	margin-left: 37px;
	margin-top: -130px;
}